@model List<Patient>
<h1>All Patients </h1>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Patient Id</th>
            <th scope="col">Patiet Name</th>
            <th scope="col">date</th>
            <th scope="col">time</th>
            <th scope="col">doctor Name</th>


        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.date</td>
                    <td>@item.time</td>
                    <td>@item.doctor.Name</td>

                </tr>
            }
        }
    </tbody>
</table>